<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}
                :: VAXSOLUCIONES ::
            {% endblock %}
        </title>
        
        
        {% block stylesheets %}
            <link href="{{ asset('bundles/vaxfront/css/main.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/vaxfront/css/slider-vertical.css') }}" type="text/css" rel="stylesheet" />
            <link rel="shortcut icon" type="image/icon" href="{{ asset('bundles/vaxfront/images/vax.ico') }}" />
        {% endblock %}
        

        {% block javascripts %}
            <script src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js" type="text/javascript"></script>
            <script src="{{ asset('bundles/vaxfront/js/slider-vertical.js') }}"></script>
        {% endblock %}
    
    </head>
    
    <body>
        
        <div class="out-container">        
            <div class="header">
                {% block header %}
                    <a href="{{ path('homepage') }}"> 
                        <img class="banner" width="853" height="117" src="{{ asset('bundles/vaxfront/images/banner.jpg') }}" alt="banner" />
                    </a>
                {% endblock %}
            </div>
            {% block menu %}
                <div class="nav-container">
                    <nav>
                        <ul class="nav">
                            <li> <a href="{{ path('homepage') }}"> HOME </a> </li>
                            <li> <a href="{{ path('servicios') }}"> SERVICIOS </a> </li>
                            <li> <a href="{{ path('clientes') }}"> NUESTROS CLIENTES </a> </li>
                            <li> <a href="{{ path('ubiquiti') }}"> UBIQUITI </a> </li>
                            <li> <a href="{{ path('ofertas') }}"> OFERTAS </a> </li>
                            <li> <a href="{{ path('faq') }}"> FAQ </a> </li>
                            <li> <a href="{{ path('contacto') }}"> CONTACTO </a> </li>
                        </ul>
                    </nav>
                </div>
            {% endblock %}
            
            {% block submenu %}
                
                <!-- SI está en la home deben aparecer dos submenúes -->
                {% if (app.request.get('_route') == 'homepage'
                                    or app.request.get('_route') == 'quienesomos'
                                    or app.request.get('_route') == 'historia')  %}
                    <div class="sub-nav">
                        <nav>
                              <ul class="sub-nav">
                                    <li> <a href="{{ path('quienesomos') }}"> QUIENES SOMOS </a> </li>
                                    <li> <a href="{{ path('historia') }}"> HISTORIA </a> </li>
                              </ul>
                        </nav>
                    </div>
                {% endif %}
            
                <!-- SI está en servicios deben aparecer dos submenúes -->
                {% if (app.request.get('_route') == 'servicios'
                                    or app.request.get('_route') == 'seguridad'
                                    or app.request.get('_route') == 'placavideo'
                                    or app.request.get('_route') == 'notebook'
                                    or app.request.get('_route') == 'motherboard')  %}
                      <div class="sub-nav">
                        <nav>
                          <ul class="sub-nav">
                            <li> <a href="{{ path('motherboard') }}"> MOTHERBOARD </a> </li>
                            <li> <a href="{{ path('notebook') }}"> NOTEBOOK </a> </li>
                            <li> <a href="{{ path('placavideo') }}"> PLACA DE VIDEO </a> </li>
                            <li> <a href="{{ path('seguridad') }}"> SEGURIDAD </a> </li>
                          </ul>
                        </nav>
                      </div>
                {% endif %}

            {% endblock %}

            <div class="content">
                {% block body %}
                    
                    <div class="col-left">
                        {% block col_left %}
                            esto esta en la base
                        {% endblock %}
                    </div>


                    <div class="col-right">
                        <!-- MODULO DE OFERTAS (SLIDER VERTICAL) -->
                        <div class="contenedor-slider">
                            <div class="bloque-slider">
                                <div class="modulo-slider"> </div>
                                <div class="modulo-slider">
                                    <div class="image"> <img src="" /> </div>
                                    <div class="title">
                                        MOTHER MSI
                                    </div>
                                    <div class="description">
                                        un mother espectacular
                                    </div>
                                    <div class="price">
                                        $223,00
                                    </div>
                                    <div class="guaranty">
                                        Garantia
                                    </div>
                                </div>

                                <div class="modulo-slider">
                                    <div class="image"> <img src="" /> </div>
                                    <div class="title">
                                        APPLE
                                    </div>
                                    <div class="description">
                                        la verdadera manzana
                                    </div>
                                    <div class="price">
                                        $12223,00
                                    </div>
                                    <div class="guaranty">
                                        Garantia 2 años
                                    </div>
                                </div>

                                <div class="modulo-slider">
                                    <div class="image"> <img src="" /> </div>
                                    <div class="title">
                                        MODEM
                                    </div>
                                    <div class="description">
                                        modem vps
                                    </div>
                                    <div class="price">
                                        $123,00
                                    </div>
                                    <div class="guaranty">
                                        Garantia
                                    </div>
                                </div>

                                <div class="modulo-slider">
                                    <div class="image"> <img src="" /> </div>
                                    <div class="title">
                                        CPU ATHLON
                                    </div>
                                    <div class="description">
                                        cpu dedicaco
                                    </div>
                                    <div class="price">
                                        $1233,00
                                    </div>
                                    <div class="guaranty">
                                        Garantia
                                    </div>
                                </div>

                                <div class="modulo-slider">
                                    <div class="image"> <img src="" /> </div>
                                    <div class="title">
                                        NOTEBOOK
                                    </div>
                                    <div class="description">
                                        atx 88
                                    </div>
                                    <div class="price">
                                        $2223,00
                                    </div>
                                    <div class="guaranty">
                                        Garantia 1 año
                                    </div>
                                </div>

                                <div class="modulo-slider">
                                    <div class="image"> <img src="" /> </div>
                                    <div class="title">
                                        PLACA xxxx
                                    </div>
                                    <div class="description">
                                        placa tridimensional
                                    </div>
                                    <div class="price">
                                        $323,00
                                    </div>
                                    <div class="guaranty">
                                        Garantia 1 año
                                    </div>
                                </div>

                                <div class="modulo-slider">
                                    <div class="image"> <img src="" /> </div>
                                    <div class="title">
                                        MOTHER MSI
                                    </div>
                                    <div class="description">
                                        un mother espectacular
                                    </div>
                                    <div class="price">
                                        $223,00
                                    </div>
                                    <div class="guaranty">
                                        Garantia
                                    </div>
                                </div>

                            </div>
                            <p class="mover-slider-vertical">
                                <a class="subir-slider">Subir</a>
                                <a class="bajar-slider">Bajar</a>
                            </p>
                        </div> <!-- FIN contenedor-slider -->
                    </div> <!-- FIN col-right -->
                {% endblock %}                        
            </div> <!-- FIN content -->
            
            <div class="footer">
                {% block footer %}
                    aquí va el footer
                {% endblock %}
            </div>
    </body>
</html>