{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block col_left %}
    <div class="content-common">
        <h2 class="section-title"> NUESTROS CLIENTES</h2>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_army.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_incomex.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_beseder.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_criterios.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_gya.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_nucleo.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_pascal.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_cuadrado.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_tranders.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_wirelessT.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/connectis.gif') }}" alt="army tech" />
          </a>
        </div>
    </div>
{% endblock %}


