{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block col_left %}
    <div class="content-common">
        <h2 class="section-title"> NUESTROS CLIENTES</h2>
        <div class="client-box">
          <a href="http://www.armytech.com.ar/" target="_blank">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_army.gif') }}" alt="army tech" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://www.intcomex.com/" target="_blank">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_incomex.gif') }}" alt="intcomex" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://www.beseder.com.ar/" target="_blank">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_beseder.gif') }}" alt="beseder" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://www.criter.com.ar/" target="_blank">
            <img class="short-margin" src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_criterios.gif') }}" alt="criter" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://gyainformatica.com.ar/" target="_blank">
            <img class="short-margin" src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_gya.gif') }}" alt="gya informatica" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://www.nucleodistribuidora.com/" target="_blank">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_nucleo.gif') }}" alt="nucleo distribuidora" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://www.pascalonline.com.ar/" target="_blank">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_pascal.gif') }}" alt="pascal" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://www.luisacuadrado.com/" target="_blank">
            <img class="short-margin" src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_cuadrado.gif') }}" alt="luis a cuadrado" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://www.tranders.com.ar/" target="_blank">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_tranders.gif') }}" alt="tranders" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://wirelesstigre.com/" target="_blank">
            <img class="short-margin" src="{{ asset('bundles/vaxfront/images/nuestros-clientes/logo_wirelessT.jpg') }}" alt="wireless tigre" width="95" height="60" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://www.connectis.com.ar/" target="_blank">
            <img src="{{ asset('bundles/vaxfront/images/nuestros-clientes/connectis.gif') }}" alt="connectis" />
          </a>
        </div>
        <div class="client-box">
          <a href="http://www.itelsa.com.ar/" target="_blank">
            <img class="short-margin" src="{{ asset('bundles/vaxfront/images/nuestros-clientes/itelsa.jpg') }}" alt="itelsa" />
          </a>
        </div>

    </div>
{% endblock %}


