{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block contacto %}
    
    <div class="left">
        <h2 class="title"> CONTACO </h2>
        <div class="description">
            <!--<img src="{{ asset('bundles/vaxfront/images/contacto/img_contacto.jpg') }}" alt="atención telefónica"  width="160" height="150" /> -->
            Podés contactarnos, de Lunes a Viernes de 15hs a 20hs, también vía e-mail o utilizando el siguiente formulario de contacto.
        </div>
        <div class="box-subtitles"> <!-- telefono -->
            <img src="{{ asset('bundles/vaxfront/images/contacto/tel.jpg') }}" alt=""  width="30" height="30" />
            <h3 class="title"> TELÉFONO </h3>
            <div class="dato"> (5411) 4585.4041 </div>
        </div>
        <div class="box-subtitles"> <!-- celular -->
            <img src="{{ asset('bundles/vaxfront/images/contacto/celular.jpg') }}" alt=""  width="30" height="30" />
            <h3 class="title"> CELULAR </h3>
            <div class="dato"> (15) 5497.2228 </div>
        </div>
        <div class="box-subtitles"> <!-- email -->
            <img src="{{ asset('bundles/vaxfront/images/contacto/email-icono.jpg') }}" alt=""  width="30" height="30" />
            <h3 class="title"> E-MAIL </h3>
            <div class="dato fine"> info@vaxsoluciones.com.ar </div>
        </div>


    </div>

    <div class="right">
        <div class="box-form">
            <form action="{{ path('contacto') }}" method="post" {{ form_enctype(form) }} class="contact-form">
                
                <div class="izq">
                    {{ form_errors(form) }}
                    
                    {{ form_row(form.name, { 'label': 'Nombre y Apellido' }) }}
                    {{ form_row(form.email) }}                    
                    {{ form_row(form.subject, { 'label': 'Título' }) }}
                    
                </div>

                <div class="der">
                    {{ form_row(form.body, { 'label': 'Mensaje' }) }}
                    {{ form_rest(form) }}
                    <input class="btn-submit" type="submit" value="" />
                </div>

            </form>
        </div>
        <div class="bottons">
            <a class="msn" href="#" title="Agreganos por soporte: vilat_ale@hotmail.com">

            </a>
            <a class="facebook" href="http://www.facebook.com/pages/VAXSOLUCIONES/181271151934516?fref=ts"
                    target="_blank" >

            </a>
        </div>
    </div>

<script>
    $(window).load(function() {
        $("input#contact_email").css('oninvalid', 'this.setCustomValidity("Witinnovation")');
    });
</script>




{% endblock %}

