{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block ofertas %}
    <div class="left">
        <img src="{{ asset('bundles/vaxfront/images/ofertas/oferta.jpg') }}" alt="atención telefónica"  width="170" height="170" />
        <div class="texto">
            Tenemos varias ofertas disponibles, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis turpis at augue tincidunt malesuada. Curabitur eleifend felis in nisl ornare posuere. In viverra tincidunt nibh eu congue.
        </div>
    </div>

    <div class="right">
        

        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/athlon.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mac.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/modem.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mother.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>

        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/athlon.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mac.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/modem.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mother.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/athlon.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mac.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/modem.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mother.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>

    </div>

{% endblock %}


