{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block ofertas %}
    <div class="left">
        <h2 class="title"> OFERTAS</h2>
        <div class="texto">
            Continuo stock de motherboards alta gama y discontinuo.
        </div>
        <div class="texto">
            Amplio surtido de routers.
        </div>
    </div>

    <div class="right">
        

        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/athlon.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mac.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/modem.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mother.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>

        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/athlon.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="title"> Mother asus</div>
            <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mac.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            <div class="description"> mother tipo A</div>
            <div class="price"> U$D 123,99</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        

    </div>

{% endblock %}


