<div class="footer">
    {% block footer %}
        <div class="inner-footer">
            <div class="images">
                    <!-- UBIQUITI -->
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo1" src="{{ asset('bundles/vaxfront/images/footer/logo1.png') }}" 
                                    alt="ubiquiti" title="Ubiquiti" width="120" height="48" />
                    </a>
                    <!-- MIKROTIK -->
                    <a href="http://www.mikrotik.com/" target="_blank">
                        <img class="logo2" src="{{ asset('bundles/vaxfront/images/footer/logo2.png' ) }}" 
                                    alt="microtik" title="Microtik" width="120" height="48" />
                    </a>
                    <!-- HP -->
                    <a href="http://welcome.hp.com/country/ar/es/cs/home.html" target="_blank">
                        <img class="logo3" src="{{ asset('bundles/vaxfront/images/footer/logo3.png' ) }}"
                                    alt="hp" title="HP" width="120" height="48" />
                    </a>
                    <!-- COMPAQ -->
                    <a href="http://welcome.hp.com/country/ar/es/cs/home.html" target="_blank">
                        <img class="logo4" src="{{ asset('bundles/vaxfront/images/footer/logo4.png' ) }}"
                                    alt="compaq" title="Compaq" width="120" height="48" />
                    </a>
                    <!-- IBM -->
                    <a href="http://www.ibm.com/ar/es/" target="_blank">
                        <img class="logo5" src="{{ asset('bundles/vaxfront/images/footer/logo5.png' ) }}"
                                    alt="ibm" title="IBM" width="120" height="48" />
                    </a>
                    <!-- LENOVO -->
                    <a href="http://www.lenovo.com/ar/es/" target="_blank">
                        <img class="logo6" src="{{ asset('bundles/vaxfront/images/footer/logo6.png' ) }}"
                                    alt="lenovo" title="Lenovo"  width="120" height="48" />
                    </a>
                    <!-- DELL -->
                    <a href="http://www1.la.dell.com/ar/es/gen/df.aspx?refid=df&s=gen&~ck=cr" target="_blank">
                        <img class="logo7" src="{{ asset('bundles/vaxfront/images/footer/logo7.png' ) }}"
                                    alt="dell" title="Dell"  width="120" height="48" />
                    </a>
                    <!-- TOSHIBA -->
                    <a href="http://latin.toshiba.com/?locale=es_AR&region=Argentina" target="_blank">
                        <img class="logo8" src="{{ asset('bundles/vaxfront/images/footer/logo8.png' ) }}"
                                    alt="toshiba" title="Toshiba"  width="120" height="48" />
                    </a>
                    <!-- ACER -->
                    <a href="http://www.acer.com/worldwide/selection.html" target="_blank">
                        <img class="logo9" src="{{ asset('bundles/vaxfront/images/footer/logo9.png' ) }}"
                                    alt="acer" title="ACER"  width="120" height="48" />
                    </a>
                    <!-- MSI -->
                    <a href="http://latam.msi.com/" target="_blank">
                        <img class="logo10" src="{{ asset('bundles/vaxfront/images/footer/logo10.png' ) }}"
                                    alt="msi" title="MSI"  width="120" height="48" />
                    </a>
                    <!-- ASUS -->
                    <a href="http://latin.asus.com/" target="_blank">
                        <img class="logo11" src="{{ asset('bundles/vaxfront/images/footer/logo11.png' ) }}"
                                    alt="asus" title="Asus" width="120" height="48" />
                    </a>
                    <!-- GIGABYTE -->
                    <a href="http://ar.gigabyte.com/" target="_blank">
                        <img class="logo12" src="{{ asset('bundles/vaxfront/images/footer/logo12.png' ) }}"
                                    alt="gigabyte" title="GigaByte"  width="120" height="48" />
                    </a>
                    <!-- INTEL -->
                    <a href="http://www.intel.com.ar/content/www/xl/es/homepage.html" target="_blank">
                        <img class="logo13" src="{{ asset('bundles/vaxfront/images/footer/logo13.png' ) }}"
                                    alt="intel" title="Intel" width="120" height="48" />
                    </a>
                    <!-- AMD -->
                    <a href="http://www.amd.com/es/Pages/AMDHomePage.aspx" target="_blank">
                        <img class="logo14" src="{{ asset('bundles/vaxfront/images/footer/logo14.png' ) }}"
                                    alt="amd" title="AMD" width="120" height="48" />
                    </a>
                    <!-- NVIDIA -->
                    <a href="http://www.nvidia.es/page/home.html" target="_blank">
                        <img class="logo15" src="{{ asset('bundles/vaxfront/images/footer/logo15.png' ) }}"
                                    alt="nvidia" title="Nvidia" width="120" height="48" />
                    </a>
                    <!-- ATI -->
                    <a href="http://www.amd.com/la/Pages/AMDHomePage.aspx" target="_blank">
                        <img class="logo16" src="{{ asset('bundles/vaxfront/images/footer/logo16.png' ) }}"
                                    alt="ati" title="ATI" width="120" height="48" />
                    </a>
                    <!-- LG -->
                    <a href="http://www.lg.com/ar" target="_blank">
                        <img class="logo17" src="{{ asset('bundles/vaxfront/images/footer/logo17.png' ) }}"
                                    alt="lg" title="LG" width="120" height="48" />
                    </a>
                    <!-- SONY -->
                    <a href="http://www.sony.com.ar/corporate/AR/home.html" target="_blank">
                        <img class="logo18" src="{{ asset('bundles/vaxfront/images/footer/logo18.png' ) }}"
                                    alt="sony" title="Sony" width="120" height="48" />
                    </a>
                    <!-- SAMSUNG -->
                    <a href="http://www.samsung.com/ar/#latest-home" target="_blank">
                        <img class="logo19" src="{{ asset('bundles/vaxfront/images/footer/logo19.png' ) }}"
                                    alt="sony" title="Sony" width="120" height="48" />
                    </a>
                    <!-- GATEWAY -->
                    <a href="http://latam.gateway.com/gw/es/AR/content/home" target="_blank">
                        <img class="logo20" src="{{ asset('bundles/vaxfront/images/footer/logo20.png' ) }}"
                                    alt="gateway" title="Gateway" width="120" height="48" />
                    </a>
                    <!-- TP LINK -->
                    <a href="http://www.tp-link.com/ar/" target="_blank">
                        <img class="logo1" src="{{ asset('bundles/vaxfront/images/footer/logo21.png') }}" 
                                    alt="tp link" title="Tp Link" width="120" height="48" />
                    </a>
                    <!-- agrego algo para probar solamente -->
            </div>
            <div class="line">
                <img src="{{ asset('bundles/vaxfront/images/base/linea-footer.jpg') }}" alt="logo"
                                    width="940" height="2" />
            </div>
            <div class="text">
                Vaxsoluciones ® - Todos los derechos reservados - Tel 4585.4041 - info@vaxsoluciones.com.ar
            </div>
            <div class="social-red">
                <div class="messenger">
                    <img src="{{ asset('bundles/vaxfront/images/footer/msn.png') }}" alt="msn"
                                    width="40" height="40" title="Agreganos: vilat_ale@hotmail.com"/>
                </div>
                <div class="facebook">
                    <fb:like href="http://vaxsoluciones.cooph.com.ar/app_dev.php" layout="button_count" send="false" width="100" show_faces="false" font="arial"></fb:like>
                </div>
            </div>
        </div>
    {% endblock %}
</div>